<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <appSettings>

      <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />

      <add key="PYTHONPATH" value="C:\MSHD_project13" />

      <add key="DJANGO_SETTINGS_MODULE" value="MSHD_project13.settings" />

    </appSettings>

    <system.webServer>

        <handlers>

            <add name="DjangoWebHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\Administrator\AppData\Local\Programs\Python\Python37\python.exe|C:\MSHD_project13\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />

        </handlers>

    </system.webServer>

</configuration>
